
<!--********************************* -->
<!--LUNA ORM -	http://www.lunaorm.org -->
<!--********************************* -->
<!--Code created with Luna 4.16.6.1  -->
<!--Author: Diego Lunadei -->
<!--Date: 31/03/2017  -->
<!--THIS FILE REPORT SETTING FOR LUNA FOR YOUR CONFIG FILE (WEB.CONFIG or APP.CONFIG) -->
<!--THIS FILE IS OPTIONAL! LUNA WORK WITH OR WITHOUT THIS FILE -->
<!--IF YOU NEED IoC ON LUNA YOU CAN SET WHERE IS THE MANAGER FOR EACH ENTITY-->
<!--IMPORTANT!!! REPLACE IN IOC LUNA SETTING "LUNADAO" WITH YOUR DAO ASSEMBLY NAME-->

<configuration>
    <appSettings>
        <!--LUNA SETTINGS-->
        <add key="DALPROJECTNAMEHERE.LUNA.ShareConnection" value="False"/>
        <add key="DALPROJECTNAMEHERE.LUNA.DisableLazyLoading" value="False"/>      
        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.ProviderFactory" value="MySql.Data.MySqlClient"/>
                        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Activite_financiers" value="LUNADAO.Activite_financiersDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Categorie_donneurs" value="LUNADAO.Categorie_donneursDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Classification_revenus" value="LUNADAO.Classification_revenusDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Competances" value="LUNADAO.CompetancesDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Contrats" value="LUNADAO.ContratsDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Departements" value="LUNADAO.DepartementsDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Devises" value="LUNADAO.DevisesDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Donneurs" value="LUNADAO.DonneursDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Dons" value="LUNADAO.DonsDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Employes" value="LUNADAO.EmployesDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Postes" value="LUNADAO.PostesDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Revenus" value="LUNADAO.RevenusDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Salaires" value="LUNADAO.SalairesDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Type_agrs" value="LUNADAO.Type_agrsDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Type_competance" value="LUNADAO.Type_competanceDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Type_dons" value="LUNADAO.Type_donsDAO"/>
		        <add key="DALPROJECTNAMEHERE.LUNA.Ioc.Type_formations" value="LUNADAO.Type_formationsDAO"/>
		    </appSettings>
</configuration>